doctype html
html(lang = "en")
    head
        title E-Security Alarm Systems
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="We provide customized security systems for home and business as well as intrusion detection, video surveillance and more.  Click or Call 1-GET-HELP.")
        meta(name="keywords", content="home security, home alarm, burglar alarm, security system, security alarm, alarm system, alarm company, video surveillance, wireless home security, intrusion detection, security company, p1 security, p1 company, protection one, protection one security")
        link(rel="stylesheet", type="text/css", href="Assets/css/main.css")

    body.home
        .container

            include Assets/Include/banner

            main
                section.choice-panel
                    aside.first
                        a(href="Services/index.html#Residential")
                            img(src="Assets/images/residential-button.png", alt="Residential Button")

                        a(href="Services/index.html#Residential")
                            img(src="Assets/images/residential.png", alt="Picture of Home")

                        h4 Peace of mind is worth having.

                        p That’s why we offer customized security plans to protect your home and family in all the ways that matter to you.

                    aside.second
                        a(href="Services/index.html#Commercial")
                            img(src="Assets/images/commercial-button.png", alt="Commercial Button")

                        a(href="Services/index.html#Commercial")
                            img(src="Assets/images/business.png", alt="Picture of Business")

                        h4 A secure business is a successful business.

                        p Our monitoring technology is the best way to safeguard your valuable property and assets.


                    aside.third
                        img(src="Assets/images/Honeywell.png", alt="Honeywell Wall Panel Unit")

                        p Testimonial will go here!

                section.creds
                    img(src="Assets/images/Nbfaa.gif", alt=" ")
                    img(src="Assets/images/CSAA.gif", alt=" ")
                    img(src="Assets/images/left-image-3.png", alt=" ")
                    img.logo(src="Assets/images/bottom-logo.gif", alt="E-Security Logo")

            include Assets/Include/footer
