/* Banner/heading styling */

.welcome
	background-color: $banner
	color: #fff
	padding: 10px 0 2px
	text-align: center
	width: 100vw

header
	display: flex
	justify-content: space-between
	text-align: center

	.sticker
		margin-left: -27px
		margin-top: 5px
		padding: 0
		+size(140px 90px)

		img
			margin: 0
			+size($fill)

	.logo
		margin-left: -20px
		margin-right: 60px
		+size(350px 95px)
		
		img
			+size($fill)

	nav
		flex-grow: 1
		margin-top: 20px

		.navi
			display: flex
			justify-content: space-around
		
			li
				list-style: none
				
				a
					background-color: $nav-button
					border: 1px solid #000066
					border-radius: 5px
					color: #fff
					display: block
					padding: 8px
	
					&:hover
						background-color: #fff
						color: $nav-button
						text-decoration: none
						+transition()
	
	.mobile-nav-toggle
		cursor: pointer
		+position(absolute, 15px 20px null null)
		+size(45px)

		span, span:before, span:after
			background: #333
			content: ""
			//display: block
			height: 2px
			opacity: 1
			position: relative
			top: 15px
			+transition()

		span:before
			top: 27x

		span:after
			top: -17px

		&.is-open span
			background: transparent
			+position(absolute, 10px 10px null null)

		&.is-open span:before,
		&.is-open span:after
			background: $bg-color
			transform-origin: center
			transform: rotate(45deg)
			top: 0

		&.is-open span:before
			background: $bg-color
			transform: rotate(-45deg)

	.mobile-navi
		background: $nav-button
		border-radius: 5px
		box-shadow: 0 5px 15px #333
		display: none
		opacity: 0.85
		+position(absolute, -5px 20px null null)
		+size(300px 240px)
	
		ul
	
			li
				display: block
				list-style: none
	
				a
					//background: $nav-button
					color: #fff
					display: block
					margin: 0
					padding: 8px 16px
	
					&:hover
						background: $bg-color
						color: $nav-button
						text-decoration: none

@media(max-width: 1140px)
	header
	
		nav
			width: 300px
	
			.navi
	
				li
					box-sizing: border-box
					display: none
					max-width: $full-width
	
					a
						background-color: #FFF