/* Banner/heading styling */

.banner
    +clearfix
    max-width: 980px

    .sticker
        border: none
        float: left
        margin-top: 10px

    .logo
        float: right
        margin-bottom: 2em
        margin-top: -0.25em

    a
        color: $link-color
        border: none
        font-family: $verdana
        font-size: 10px
        font-weight: bold
        padding-left: 0.33em
        padding-right: 1em
        text-decoration: none

        &:hover
            text-decoration: underline
    ul
        float: right
        margin: 20px 5px 10px
        padding-right: 5px

    li
        border-right: 2px solid $link-color
        display: inline
        list-style: none

        &:nth-child(5)
            border-right: none
