include mixins

header
  .sticker
    a(href='./')
      img(src='Assets/img/sticker.gif', alt='E-Security Sticker')
  .logo
    img(src='Assets/img/bottom-logo.gif', alt='E-Security Logo')
  nav
    +navlinks
    
    .mobile-nav-toggle
      span