section.commercial
  a#Commercial
  h3 Commercial
  img.img-responsive(src='Assets/img/business.png', alt='A picture of a Business')
  h6 A secure business is a successful business.
  | Our monitoring technology is the best way to safeguard your valuable property and assets. 
  strong Commercial Security Systems:
  |  We provide service, installation and central station monitoring services for all Honeywell and ademco security systems.  
  strong Commercial Cameras Systems:
  |  We provide installation and maintenance of all brands CCTV cameras systems including Digital video recorders and remote viewing capabilities.