footer.foot
  nav
    ul.navi
      li
        a(href='./') Home
      li
        a(href='#Residential') Residential
      li
        a(href='#Commercial') Commercial
      li
        a(href='#Products') Products
      li
        a(href='#ContactUs') Contact Us
  img(src='Assets/images/Lisence.gif', alt='License')
  p
    | P.O. Box 450069 | Sunrise, FL 33345| Broward: 954-382-1187 | Dade: 786-242-0763 | Fax: 954-382-1128 | For Service Emergencies: 305-282-3910