.intro-img
    a#prev-0.prev(href='#')
        img(src='Assets/img/left_arrow.svg' alt='Previous Arrow')
    include slider
    a#next-0.next(href='#')
        img(src='Assets/img/right_arrow.svg' alt='Next Arrow')
    
section.intro
    img(src='Assets/img/ContactusImage.gif', alt='Company Van')
    p.
        E. Security Alarm Systems Inc. provides unparalleled security systems solutions to meet the needs of thousands of residential/commercial customers. We service Miami-Dade, Broward and West Palm Beach counties and have been providing South Florida with installation, maintenance and services since 2007. As a state licensed and insured security systems provider, we offer the following services: service performance for M&S Intercom and CCTV surveillance systems, personal reporting, and self-defense products. We also offer specific self-defense techniques in order to minimize or avoid any potential threats.
        
    p.
        Our ultimate goal at E. Security Alarm Systems Inc., is to keep your loved ones safe by providing round the clock protection for your residence and family when you are at home or away. Let our reliable and friendly security experts assist you with taking the first step to ensure your family’s overall safety and security.