#slider
	.slide1
		img(src="Assets/img/wall_panel.jpg" alt="Security Wall Panel")
		
	.slide2
		img(src="Assets/img/security_equipment.png" alt="Security Equipment")
		
	.slide3
		img(src="Assets/img/security-cameras.jpg" alt="Security Cameras")