
<header>
  <div class="sticker"><a href="#"><img src="Assets/img/sticker.gif" alt="E-Security Sticker"/></a></div>
  <div class="logo"><img src="Assets/img/bottom-logo.gif" alt="E-Security Logo"/></div>
  <nav>
    <ul class="navi">
      <li><a href="/">Home</a></li>
      <li><a href="#Residential">Residential</a></li>
      <li><a href="#Commercial">Commercial</a></li>
      <li><a href="#Products">Products</a></li>
      <li><a href="#ContactUs">Contact Us</a></li>
    </ul>
    <div class="mobile-nav-toggle"><span></span></div>
  </nav>
</header>