
<footer class="foot">
  <nav>
    <ul class="navi">
      <li><a href="/">Home</a></li>
      <li><a href="#Residential">Residential</a></li>
      <li><a href="#Commercial">Commercial</a></li>
      <li><a href="#Products">Products</a></li>
      <li><a href="#ContactUs">Contact Us</a></li>
    </ul>
  </nav><img src="Assets/images/Lisence.gif" alt="License"/>
  <p>P.O. Box 450069 | Sunrise, FL 33345| Broward: 954-382-1187 | Dade: 786-242-0763 | Fax: 954-382-1128 | For Service Emergencies: 305-282-3910</p>
</footer>