
<section class="products">
  <h2>Products</h2>
  <div class="section">
    <div class="item"><a href="Assets/img/Ldmc1CDPACK.jpg"><img src="Assets/img/sdmc1CDPACK.gif" alt=""/></a></div>
    <div class="desc">
      <h6>dmc1CDPACK:</h6>Music/Communication System Package<br /> Includes one dmc1 Music/Communication System Master, one dmc1CD 6-disc Add-on CD Changer, four dmc1RS Room Stations with Remote Scan and Master Volume, one dmc1RW Patio Station with Remote Scan and Master Volume, one MC3 3-Note Chime Module, one DS3B Intercom Door Speaker with Bell Button, one dmc1F Combination Mounting Frame
    </div>
  </div>
  <div class="section">
    <div class="item"><a href="Assets/img/Ldmc4RW.jpg"><img src="Assets/img/Ldmc4RW.gif" alt=""/></a></div>
    <div class="desc">
      <h6>dmc4RW:</h6>Retrofit Patio Station with Remote Scan and Master Volume<br /> Outdoor intercom room station with radio remote scan and master volume control, 4-wire, for dmc3-4 Music/Communication Retrofit System, white.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas, eaque est placeat excepturi libero!
    </div>
  </div>
  <div class="section">
    <div class="item"><a href="Assets/img/dvr-8tl.jpg"><img src="Assets/img/dvr-8tl.gif" alt=""/></a></div>
    <div class="desc">
      <h6>DVR4TL/8TL/16TL160 TL:</h6>Series Triplex Digital Video Recorder Family with Network/DDNS Video Server.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates natus, cumque, laudantium dolor hic odio quidem sit, molestiae maiores tempore quaerat officia aliquam beatae.
    </div>
  </div>
  <div class="section">
    <div class="item"><a href="Assets/img/LVL-650IRVF-S.jpg"><img src="Assets/img/SVL-650IRVF-S.gif" alt=""/></a></div>
    <div class="desc">
      <h6>VL-650-S/VL-650-W/VL-650IRVF-S/VL-650IRVF-W:</h6>VL-650 Series Color Vandalproof Weatherproof Dome Camera.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, eveniet laudantium. Pariatur corrupti nisi laboriosam, nulla optio ipsam laborum vel quis at, ea consectetur quod cumque, necessitatibus a ad atque.
    </div>
  </div>
</section>