
<section class="services">
  <h2>Our Services</h2>
  <div class="service">
    <div class="location home"><a href="#"><img src="Assets/img/residential-button.png" alt="Residential Button" class="btn"/></a><a href="#"><img src="Assets/img/residential.png" alt="Picture of your Home"/></a>
      <h6>Peace of mind is worth having.</h6>
      <p>That’s why we offer customized security plans to protect your home and family in all the ways that matter to you.</p>
    </div>
    <div class="location work"><a href="#"><img src="Assets/img/commercial-button.png" alt="Commercial Button" class="btn"/></a><a href="#"><img src="Assets/img/business.png" alt="Picture of your Business"/></a>
      <h6>A secure business is a successful business.</h6>
      <p>Our monitoring technology is the best way to safeguard your valuable property and assets.</p>
    </div>
    <div class="location secure"><img src="Assets/img/Honeywell.png" alt="Honeywell Wall Panel Unit"/>
      <h6>Testimonials!</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quisquam modi alias, culpa quasi placeat!</p>
    </div>
  </div>
</section>