/* Contact us Styles */

.contact
    padding: 1em

    h3
        text-align: center


    form
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center

        input
            height: 24px
            margin: 10px

            &[type="submit"]
                +e-button($nav-button)
                height: auto