/* Services Section Styles */

.gray-sec
	background-color: #ddd
	border-bottom: 1px solid darken(#ddd, 10%)
	border-top: 1px solid darken(#ddd, 10%)
	width: 100vw
	text-align: center

.services
	height: auto
	margin: 0 auto
	padding: 1em
	position: relative
	text-align: center
	width: $full-width

	h3
		text-align: center

	.service
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		margin: 1em 0
		padding: 1em 0

		.location
			display: flex
			flex: 2 1 320px
			flex-wrap: wrap
			height: 500px
			justify-content: center
			position: relative

		.home
			padding: 20px 0

			.location-wrap
				padding: 0
				position: relative
				+size(320px 290px)


				.btn
					border-radius: 0
					flex-basis: $fill
					height: 39px
					max-width: 320px

				img
					border-radius: 0
					height: 250px
					margin: -4px -5px 0px
					max-width: 320px
					width: $fill

			h6
				line-height: 1.2
				padding: 0 1em

			p
				font-size: 1.1rem
				margin-top: -30px
				padding: 0 1em

		.work
			@extend .home

		.secure
			flex: 1 1 $fill
			max-width: 190px
			padding: 25px 0

			img
				border-radius: 0
				max-width: 190px
				width: $fill
			p
				margin-top: -25px
				padding: 0 1em
				text-align: center

	.commercial
		font-size: 1.2rem
		margin-bottom: 20px
		text-align: justify

		h3
			text-align: center

		img
			border: 1px solid $border-color
			border-radius: 10px
			float: left
			margin-right: 10px
			+size(387px 200px)

		h6
			text-align: left

	.residential
		font-size: 1.2rem
		padding-bottom: 10px
		text-align: justify

		h3
			padding-bottom: 10px
			text-align: center

		img
			border: 1px solid $border-color
			border-radius: 10px
			float: left
			margin-right: 10px
			+size(387px 200px)

		h6
			text-align: left