doctype html
html(lang = "en")
    head
        title E-Security Alarm Systems
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="We provide customized security systems for home and business as well as intrusion detection, video surveillance and more.  Click or Call 1-GET-HELP.")
        meta(name="keywords", content="home security, home alarm, burglar alarm, security system, security alarm, alarm system, alarm company, video surveillance, wireless home security, intrusion detection, security company, p1 security, p1 company, protection one, protection one security")
        link(rel="stylesheet", type="text/css", href="../Assets/css/main.css")

    body.product
        .container

            include ../Assets/Include/banner

            main

                section

                    aside.item

                    article.desc

                    aside.brand


            include ../Assets/Include/footer
