include mixins

header.banner
    a(href="./"): img.sticker(src="Assets/images/sticker.gif", alt="E-Security Sticker")

    nav
        +navlinks

    img.logo(src="Assets/images/banner.png", alt="E-Security Banner")
