section.contact
  a#ContactUs
  h3 Contact Us
  form(method='post', action='mail.php')
    input#firstName(type='input', placeholder='First Name')
    input#lastName(type='input', placeholder='Last Name')
    input#email(type='input', placeholder='Email')
    input#phone(type='input', placeholder='Phone')
    input#submit(type='submit', value='Submit')