mixin navlinks

    ul
        each val, link in {'/' : 'Home' , '/Services#Residential' : 'Residential' , '/Services#Commercial' : 'Commercial', '/Products' : 'Products' , '/ContactUs' : 'Contact Us'}

            li: a(href=link)= val
