section.products
  a#Products
  h3 Products
  .section
    .item
      a(href='Assets/img/Ldmc1CDPACK.jpg')
        img(src='Assets/img/Ldmc1CDPACK.jpg', alt='')
    .desc
      h6 dmc1CDPACK:
      | Music/Communication System Package
      br
      |  Includes one dmc1 Music/Communication System Master, one dmc1CD 6-disc Add-on CD Changer, four dmc1RS Room Stations with Remote Scan and Master Volume, one dmc1RW Patio Station with Remote Scan and Master Volume, one MC3 3-Note Chime Module, one DS3B Intercom Door Speaker with Bell Button, one dmc1F Combination Mounting Frame.
      
  .section-rev
    .item-rev
      a(href='Assets/img/Ldmc4RW.jpg')
        img(src='Assets/img/Ldmc4RW.jpg', alt='')
    .desc-rev
      h6 dmc4RW:
      |  Retrofit Patio Station with Remote Scan and Master Volume:
      br
      |  This is an outdoor intercom room station with radio remote scan. Its features are master volume control, 4-wire, for dmc3-4 Music/Communication Retrofit System is available in white. This device will allow you to enhance outdoor noise and differentiate things that go bump in the night.
      
  .section
    .item
      a(href='Assets/img/dvr-8tl.jpg')
        img(src='Assets/img/dvr-8tl.jpg', alt='')
    .desc
      h6 DVR4TL/8TL/16TL160 TL:
      |  Series Triplex Digital Video Recorder Family with Network/DDNS Video Server: Functions like your home DVR box to record any video surveillance in high quality and also give you visual conformation of the disturbance.
      
  .section-rev
    .item-rev
      a(href='Assets/img/LVL-650IRVF-S.jpg')
        img(src='Assets/img/LVL-650IRVF-S.jpg', alt='')
    .desc-rev
      h6 VL-650-S/VL-650-W/VL-650IRVF-S/VL-650IRVF-W:
      |  VL-650 Series Color Vandalproof Weatherproof Dome Camera. This state of the art camera is durable and will stand up to the harshest weather conditions. It will be able to accurately surveille the immediate area for potential threats.