a#Residential
a#Commercial
.services.container
    h3 Our Services
    .service
      .location.home
        .location-wrap
          a.res-btn(href='#')
            img.btn(src='Assets/img/residential-button.png', alt='Residential Button')
          a.res-btn(href='#')
            img(src='Assets/img/residential.png', alt='Picture of your Home')
        h6 Peace of mind is worth having.
        p
          | That’s why we offer customized security plans to protect your home and family in all the ways that matter to you.
      .location.work
        .location-wrap
          a.com-btn(href='#')
            img.btn(src='Assets/img/commercial-button.png', alt='Commercial Button')
          a.com-btn(href='#')
            img(src='Assets/img/business.png', alt='Picture of your Business')
        h6 A secure business is a successful business.
        p
          | Our monitoring technology is the best way to safeguard your valuable property and assets.
      .location.secure
        img(src='Assets/img/Honeywell.png', alt='Honeywell Wall Panel Unit')
        h6 Testimonials!
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quisquam modi alias, culpa quasi placeat!