a#Residential
a#Commercial
.services.container
    h3 Our Services
    .service
      .location.home
        .location-wrap
          a.res-btn(href='#')
            img.btn(src='Assets/img/residential-button.png', alt='Residential Button')
          a.res-btn(href='#')
            img(src='Assets/img/residential.png', alt='Picture of your Home')
        h6 Peace of mind is worth having.
        p.
            Have peace of mind by selecting a customized security plan to protect your residence and family while you are at home or away. 
      .location.work
        .location-wrap
          a.com-btn(href='#')
            img.btn(src='Assets/img/commercial-button.png', alt='Commercial Button')
          a.com-btn(href='#')
            img(src='Assets/img/business.png', alt='Picture of your Business')
        h6 A secure business is a successful business.
        p.
            Secure your business with our monitoring technology. It is the best way to safeguard your company property, protect confidential information and assets.
      .location.secure
        img(src='Assets/img/Honeywell.png', alt='Honeywell Wall Panel Unit')
        h6 Testimonials!
        p Testimonies go here.