<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="/Assets/css/main.css">
	</head>
	<body>
		<div class="welcome">
		  <span>Welcome to Our Site!</span><span>Contact:</span><span>Broward 954-903-7138</span><span>Dade 786-264-2616</span>
		</div>
		<div id="wrapper" class="container">
			{{ content }}
		</div>
		<footer>
			<p>&copy; Copyright 2015  All Rights Reserved.</p>
		</footer>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="Assets/js/script.js"></script>
	</body>
</html>
